
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p>#2 Tüm başlıklarda paging</p>
<p>#3 Mesajlarda session</p>
<p>#4 Oturum yönetiminşn mimariye taşınması</p>
<p>#5 Token Kullanımı</p>

